
@media screen and (max-width: 1400px) { 
 
    header {
        grid-template-columns: 0.5fr 1fr 1fr;
        grid-template-rows: 0.2fr 0.2 1fr;
        grid-template-areas: 
        "icono redesmenu redesmenu"
        "icono none none"
        "nav nav nav"
        ;
     }
}

@media screen and (max-width: 1200px) {  


}

@media screen and (max-width: 1024px) {
    .card {
        position: relative;
        width: 400px;
        height:200px;
       &:hover {
        img {
            height: 70%;
        }
       }
       img {
        height: 60%;
       }
        .content {
            padding: 10px 0 0 10px;
            h2 {
                font-size: 0.5rem;
                
            }
            h3 {
                font-size: 0.3rem;
                max-width: 30%;
                
            }
         }
    }
 
 
  
}

@media screen and (max-width: 935px) {
    .card {
        position: relative;
        width: 400px;
        height:200px;
       &:hover {
        img {
            height: 70%;
        }
       }
       img {
        height: 60%;
       }
        .content {
            padding: 10px 0 0 10px;
            h2 {
                font-size: 0.5rem;
                
            }
            h3 {
                font-size: 0.3rem;
                max-width: 30%;
                
            }
         }
    }
 
 

}


@media screen and (max-width: 865px) {
 
    .descripcioningreso {
        max-width: 30vw;
        margin-top: 8vh;
    }
}

@media screen and (max-width: 600px) {
    .card {
        position: relative;
        width: 200px;
        height:100px;
       &:hover {
        img {
            height: 70%;
        }
       }
       img {
        height: 60%;
       }
        .content {
            padding: 10px 0 0 10px;
            h2 {
                font-size: 0.5rem;
                
            }
            h3 {
                font-size: 0.3rem;
                max-width: 30%;
                
            }
         }
    }
 

}

@media screen and (max-width: 480px) {

    .card {
        position: relative;
        width: 250px;
        height:100px;
       &:hover {
        img {
            height: 60%;
        }
       }
       img {
        height: 50%;
       }
        .content {
            padding: 10px 0 0 10px;
            h2 {
                font-size: 0.5rem;
                
            }
            h3 {
                font-size: 0.3rem;
                max-width: 30%;
                
            }
         }
    }
    


    footer {
        grid-template-columns: 1fr;
       grid-template-rows: 0.5fr 0.2fr 1fr;
       grid-template-areas:
       "iconofooter"
       "navfooter"
       "contactofooter"
       ;
    }
    .descripcioningreso {
        margin-top: 30px;
        max-width: 30%;
        font-size: 0.5rem;
    }
    .inoconofooter {
        text-align: center;
    }

    .navfooter {
        margin-top: 20px;
        text-align: center;


    }

    .footer__item {
        display: inline-flex;
       
    }
    .tienda {
        grid-area: tienda;
            h1 {
                font-size: 1em;
                padding: 10px;
            }
            h4 {
                font-size: 1em;
                padding: 10px;
            }
            div {
                font-size: 0.5em;
            }
            .bonton_carrito {
                width: 10em;
    
            }
        }
    
    .descripcionproducto {
        font-size: 0.3em;
        max-width: 30vw;
        margin-top: 50px;
    }
    .descripcionproductoizquierda {
        font-size: 0.3em;
        max-width: 30vw;
        margin-top: 50px;
    }
    .carousel__slide {
        figcaption{
            position: absolute;
        right: 4000px;
        }
        
    }
}

@media screen and (max-width: 320px) {
    
    .card {
        width:180px;
        height:150px;
       &:hover {
        img {
            height: 60%;
        }
       }
       img {
        height: 50%;
       }
        .content {
            position: relative;
		    left: 20%;
		    padding: 10px 10px 10px 20px;
		    transition: 0.5s;
		    opacity: 0;
		    visibility: visible;
            h2 {
                font-size: 0.5rem;
                
            }
            h3 {
                font-size: 0.3rem;
                
            }
         }
    }

    .contactofooter {
        margin-right: 10px;
        padding: 10px;
    }
    .descripcioningreso {
        margin-top: 30px;
        max-width: 30%;
        font-size: 0.3rem;
    }
  
}


