@media screen and (max-width: 2400px) { 
    .card {
        width: 650px;
        height:487px;
    }

}

@media screen and (max-width: 2300px) { 
    .card {
        width: 550px;
        height:412px;
    }

}
@media screen and (max-width: 1924px) { 
    .card {
        width: 650px;
        height:487px;
    }

}


@media screen and (max-width: 1600px) { 
    .card {
        width: 500px;
        height:375px;
    }


    .nuevosingresos__video {
        height: 80vh;
    }
 

}




@media screen and (max-width: 1400px) { 
 
    header {
        grid-template-columns: 0.5fr 1fr 1fr;
        grid-template-rows: 0.2fr 0.2 1fr;
        grid-template-areas: 
        "icono redesmenu redesmenu"
        "icono none none"
        "nav nav nav"
        ;
     }
     .card {
        width: 450px;
        height:337px;
    }

}

@media screen and (max-width: 1200px) {  
    .card {
        width: 400px;
        height:300px;
    }

    .nuevosingresos__video {
        height: 80vh;
    }

}

@media screen and (max-width: 1024px) {
    .nuevosingresos__video {
        height: 60vh;
    }

 
  
}

@media screen and (max-width: 1000px) {
    .card {
        width: 350px;
        height:262px;
    }

    .inoconofooter {
        text-align: center;
    }

    .navfooter {
        margin-top: 20px;
        text-align: center;


    }

    .footer__item {
        display: inline-flex;
       
    }
    .nuevosingresos__video {
        height: 60vh;
    }
    footer {
        grid-template-columns: 1fr;
       grid-template-rows: 0.5fr 0.2fr 1fr;
       grid-template-areas:
       "iconofooter"
       "navfooter"
       "contactofooter"
       ;
    }
 

}


@media screen and (max-width: 865px) {
    .card {
        width: 300px;
        height:225px;
    }
    .content {
		
		padding: 20px 20px 10px 20px;
	
		h2 {
			font-size: x-large;
		}
		h3 {
                font-size: medium;
			
		}
	}

 
    .descripcioningreso {
        max-width: 30vw;
        margin-top: 8vh;
    }
    footer {
        grid-template-columns: 1fr;
       grid-template-rows: 0.5fr 0.2fr 1fr;
       grid-template-areas:
       "iconofooter"
       "navfooter"
       "contactofooter"
       ;
    }
    .inoconofooter {
        text-align: center;
    }

    .navfooter {
        margin-top: 20px;
        text-align: center;


    }

    .footer__item {
        display: inline-flex;
       
    }
    .nuevosingresos__video {
        height: 50vh;
    }


}

@media screen and (max-width: 740px) {

    .menu_nav {
       display: block;
    }
    footer {
        grid-template-columns: 1fr;
       grid-template-rows: 0.5fr 0.2fr 1fr;
       grid-template-areas:
       "iconofooter"
       "navfooter"
       "contactofooter"
       ;
    }
    .card {
        width: 400px;
        height:300px;
    }


    .inoconofooter {
        text-align: center;
    }

    .navfooter {
        margin-top: 20px;
        text-align: center;


    }

    .footer__item {
        display: inline-flex;
       
    }
    .carousel__slide {
        figcaption{
            position: absolute;
        right: 4000px;
        }
        
    }
   

}




@media screen and (max-width: 600px) {
   
    .card {
        width: 350px;
        height:262px;
    }
    .descripcioningreso {
        font-size: 0.8rem;
        max-height: 35vh;
        max-width: 35vw;
        color: $blanco;
        margin-left: 5%;
        margin-top: 10%;
    }

 

}

@media screen and (max-width: 480px) {

    .card {
        width: 230px;
        height: 172px;
        .content {
            left: 10px;
            padding: 10px;
        
            h2 {
                font-size: large;
                margin-bottom: 0;
            }
            h3 {
                    font-size: small;
                    margin-bottom: 0;
                
            }
        }
    }
    .nuevosingresos__video {
        height: 30vh;
    }


    footer {
        grid-template-columns: 1fr;
       grid-template-rows: 0.5fr 0.2fr 1fr;
       grid-template-areas:
       "iconofooter"
       "navfooter"
       "contactofooter"
       ;
    }
    .descripcioningreso {
        margin-top: 30px;
        max-width: 30%;
        font-size: 0.6rem;
    }
    .inoconofooter {
        text-align: center;
    }

    .navfooter {
        margin-top: 20px;
        text-align: center;


    }

    .footer__item {
        display: inline-flex;
       
    }
    .tienda {
        grid-area: tienda;
            h1 {
                font-size: 1em;
                padding: 10px;
            }
            h4 {
                font-size: 1em;
                padding: 10px;
            }
            div {
                font-size: 0.5em;
            }
            .bonton_carrito {
                width: 10em;
    
            }
        }

    .descripcionproductoizquierda {
        font-size: 0.3em;
        max-width: 30vw;
        margin-top: 50px;
    }
  
 
 
}

@media screen and (max-width: 320px) {


    .contactofooter {
        margin-right: 10px;
        padding: 10px;
    }
    .descripcioningreso {
        margin-top: 30px;
        max-width: 30%;
        font-size: 0.5rem;
    }
 
    .nuevosingresos__video {
        height: 25vh;
    }
  
}


