@media screen and (max-width: 2400px) { 
    .card {
        width: 650px;
        height:487px;
    }

}

@media screen and (max-width: 2300px) { 
    .card {
        width: 550px;
        height:412px;
    }

}
@media screen and (max-width: 1924px) { 
    .card {
        width: 650px;
        height:487px;
    }
    /*Pagina Kumara*/
    #tienda {
        h1 {
            font-size: 5rem;
             padding: 20px;
        }
        p {
           font-size: 3rem;
        }
        div {
            font-size: 2rem;
        }
        .bonton_carrito {
            width: 8em;

        }
    }
    .descripcionproducto {
        p {
            font-size: 2rem;
        }
    }
    .descripcionproductoizquierda {
        p {
            font-size: 2rem;
        }   
    }


}


@media screen and (max-width: 1600px) { 
    .card {
        width: 500px;
        height:375px;
    }


    .nuevosingresos__video {
        height: 80vh;
    }
 

}




@media screen and (max-width: 1400px) { 
 
    header {
        grid-template-columns: 0.5fr 1fr 1fr;
        grid-template-rows: 0.2fr 0.2 1fr;
        grid-template-areas: 
        "icono redesmenu redesmenu"
        "icono none none"
        "nav nav nav"
        ;
     }
     .card {
        width: 450px;
        height:337px;
    }

    /*Pagina de servicios*/
    .mantenimiento_titulo{
        h2 {
        font-size: 2.0rem;
        font-weight: 500;
        min-width: 100%;
        }
    }
    .mantenimiento_texto {
        p {
        font-size: 1rem;
        }
}
.mantenimiento_turno {    
    button {
        a {
            font-size: 1rem;
        }
    }
}
.armado_titulo{
    h2 {
    font-size: 2.0rem;
    font-weight: 500;
    min-width: 100%;
    }
}
.armado_texto {
    p {
    font-size: 1rem;
    }
}
.armado_turno {    
button {
    a {
        font-size: 1rem;
    }
}
}
.actualizacion_titulo{
    h2 {
    font-size: 2.0rem;
    font-weight: 500;
    min-width: 100%;
    }
}
.actualizacion_texto {
    p {
    font-size: 1rem;
    }
}
.actualizacion_turno {    
button {
    a {
        font-size: 1rem;
    }
}
}
/*pagina de Kumara*/
#tienda {
    margin-top: 30%;
    h1 {
        font-size: 3rem;
         
    }
    p {
       font-size: 2rem;
       
    }
    div {
        font-size: 1rem;
    }
    .bonton_carrito {
        width: 8em;

    }
}
.descripcionproducto {
    p {
        font-size: 1.2rem;
    }
}
.descripcionproductoizquierda {
    p {
        font-size:1.2rem;
    }   
}


}

@media screen and (max-width: 1024px) {
    .nuevosingresos__video {
        height: 60vh;
    }

     /*Pagina de servicios*/
     .mantenimiento_titulo{
        h2 {
        font-size: 1.5rem;
        font-weight: 500;
        min-width: 100%;
        }
    }
    .mantenimiento_texto {
        p {
        font-size: 0.8rem;
        }
}
.mantenimiento_turno {    
    button {
        a {
            font-size: 0.8rem;
        }
    }
}
.armado_titulo{
    h2 {
    font-size: 1.5rem;
    font-weight: 500;
    min-width: 100%;
    }
}
.armado_texto {
    p {
    font-size: 0.8rem;
    }
}
.armado_turno {    
button {
    a {
        font-size: 0.8rem;
    }
}
}
.actualizacion_titulo{
    h2 {
    font-size: 1.5rem;
    font-weight: 500;
    min-width: 100%;
    }
}
.actualizacion_texto {
    p {
    font-size: 0.8rem;
    }
}
.actualizacion_turno {    
button {
    a {
        font-size: 0.8rem;
    }
}
}

}
  

@media screen and (max-width: 1000px) {
    .card {
        width: 350px;
        height:262px;
    }

    .inoconofooter {
        text-align: center;
    }

    .navfooter {
        margin-top: 20px;
        text-align: center;


    }

    .footer__item {
        display: inline-flex;
       
    }
    .nuevosingresos__video {
        height: 60vh;
    }
    footer {
        grid-template-columns: 1fr;
       grid-template-rows: 0.5fr 0.2fr 1fr;
       grid-template-areas:
       "iconofooter"
       "navfooter"
       "contactofooter"
       ;
    }
 

}


@media screen and (max-width: 865px) {
    .card {
        width: 300px;
        height:225px;
    }
    .content {
		
		padding: 20px 20px 10px 20px;
	
		h2 {
			font-size: x-large;
		}
		h3 {
                font-size: medium;
			
		}
	}

 
    .descripcioningreso {
        max-width: 30vw;
        margin-top: 8vh;
    }
    footer {
        grid-template-columns: 1fr;
       grid-template-rows: 0.5fr 0.2fr 1fr;
       grid-template-areas:
       "iconofooter"
       "navfooter"
       "contactofooter"
       ;
    }
    .inoconofooter {
        text-align: center;
    }

    .navfooter {
        margin-top: 20px;
        text-align: center;


    }

    .footer__item {
        display: inline-flex;
       
    }
    .nuevosingresos__video {
        height: 50vh;
    }

    /*pagina de Servicios*/
    .titulo_de_caratula{
        h1 {
            font-size: 1.7rem;
        }
    }
    .armado_gif {
  
        iframe {
            width: 40%;
        }
    }


}

@media screen and (max-width: 740px) {

    .menu_nav {
       display: block;
    }
    footer {
        grid-template-columns: 1fr;
       grid-template-rows: 0.5fr 0.2fr 1fr;
       grid-template-areas:
       "iconofooter"
       "navfooter"
       "contactofooter"
       ;
    }
    .card {
        width: 400px;
        height:300px;
    }


    .inoconofooter {
        text-align: center;
    }

    .navfooter {
        margin-top: 20px;
        text-align: center;


    }

    .footer__item {
        display: inline-flex;
       
    }
    .carousel__slide {
        figcaption{
            position: absolute;
        right: 4000px;
        }
        
    }
   /*Pagina de servicios*/
    .titulo_de_caratula{
        h1 {
            font-size: 1.6rem;
        }
    }
   .mantenimiento_titulo{
    h2 {
    font-size: 1.2rem;
    font-weight: 500;
    min-width: 100%;
    }
}
.mantenimiento_texto {
    p {
    font-size: 0.6rem;
    }
}
.mantenimiento_turno {    
button {
    a {
        font-size: 0.8rem;
    }
}
}
.armado_titulo{
h2 {
font-size: 1.2rem;
font-weight: 500;
min-width: 100%;
}
}
.armado_texto {
p {
font-size: 0.6rem;
}
}
.armado_turno {    
button {
a {
    font-size: 0.8rem;
}
}
}
.actualizacion_titulo{
h2 {
font-size: 1.2rem;
font-weight: 500;
min-width: 100%;
}
}
.actualizacion_texto {
p {
font-size: 0.6rem;
}
}
.actualizacion_turno {    
button {
a {
    font-size: 0.8rem;
}
}
}
.mantenimiento_gif {
  
    iframe {
        width: 60%;
    }
}
.armado_gif {
  
    iframe {
        width: 40%;
    }
}
.actualizacion_gif {
  
    iframe {
        width: 60%;
    }
}
/*pagina de Kumara*/
#tienda {
    margin-top: 30%;
    h1 {
        font-size: 2rem;
       
    }
    p {
       font-size: 1.5rem;
      
    }
    div {
        font-size: 0.7rem;
    }
    .bonton_carrito {
        width: 8em;

    }
}
.descripcionproducto {
    p {
        font-size: 0.7rem;
    }
}
.descripcionproductoizquierda {
    p {
        font-size:0.7rem;
    }   
}

} 

@media screen and (max-width: 600px) {
   
    .card {
        width: 350px;
        height:262px;
    }
    .descripcioningreso {
        font-size: 0.8rem;
        max-height: 35vh;
        max-width: 35vw;
        color: $blanco;
        margin-left: 5%;
        margin-top: 10%;
    }

       /*Pagina de servicios*/
       .titulo_de_caratula{
        
        h1 {
            font-size: 1.4rem;
           
        }
    }
   .mantenimiento_titulo{
    left: 65%;
    h2 {
    font-size: 1.2rem;
    font-weight: 500;
    min-width: 100%;
    }
}
.mantenimiento_texto {
    top: 50%;
    p {
    font-size: 0.6rem;
    }
}
.mantenimiento_turno { 
    top: 70%;   
button {
    a {
        font-size: 0.8rem;
    }
}
}
.armado_titulo{
h2 {
font-size: 1.2rem;
font-weight: 500;
min-width: 100%;
}
}
.armado_texto {
    left: 30%;
    top: 50%;
p {
font-size: 0.6rem;
}
}
.armado_turno {   
    top: 70%; 
button {
    top: 70%;
a {
    font-size: 0.8rem;
}
}
}
.actualizacion_titulo{
    left: 65%;
h2 {
font-size: 1.2rem;
font-weight: 500;
min-width: 100%;
}
}
.actualizacion_texto {
    top: 50%;
p {
font-size: 0.6rem;
}
}
.actualizacion_turno {   
    top: 70%; 
button {
a {
    font-size: 0.8rem;
}
}
}
.mantenimiento_gif {
    left: 10000px;
  
    iframe {
        width: 60%;
    }
}
.armado_gif {
    left: 10000px;
  
    iframe {
        width: 40%;
    }
}
.actualizacion_gif {
    left: 10000px;
  
    iframe {
        width: 60%;
    }
}

} 


@media screen and (max-width: 480px) {

    .card {
        width: 230px;
        height: 172px;
        .content {
            left: 10px;
            padding: 10px;
        
            h2 {
                font-size: large;
                margin-bottom: 0;
            }
            h3 {
                    font-size: small;
                    margin-bottom: 0;
                
            }
        }
    }
    .nuevosingresos__video {
        height: 30vh;
    }


    footer {
        grid-template-columns: 1fr;
       grid-template-rows: 0.5fr 0.2fr 1fr;
       grid-template-areas:
       "iconofooter"
       "navfooter"
       "contactofooter"
       ;
    }
    .descripcioningreso {
        margin-top: 30px;
        max-width: 30%;
        font-size: 0.6rem;
    }
    .inoconofooter {
        text-align: center;
    }

    .navfooter {
        margin-top: 20px;
        text-align: center;


    }

    .footer__item {
        display: inline-flex;
       
    }
      /*Pagina de servicios*/
      .titulo_de_caratula{
        
        h1 {
               font-size: 1rem;
              
           }
       }
      .mantenimiento_titulo{
       left: 43%;
       h2 {
       font-size: 1rem;
       font-weight: 500;
       min-width: 100%;
       }
   }
   .mantenimiento_texto {
       left: 50%;
       top: 60%;
       p {
       font-size: 0.5rem;
       }
   }
   .mantenimiento_turno {
       top: 90%; 
       left: 50%;  
   button {
       a {
           font-size: 0.7   rem;
       }
   }
   }
   .armado_titulo{
    left: 43%;
   h2 {
   font-size: 1rem;
   left: 50%;
   font-weight: 500;
   min-width: 100%;
   }
   }
   .armado_texto {
    left: 50%;
       max-width: 150px;
       top: 60%;
   p {
   font-size: 0.5rem;
   }
   }
   .armado_turno {   
       top: 90%;
       left: 50%;
   button {
   a {
       font-size: 0.8rem;
   }
   }
   }
   .actualizacion_titulo{
    left: 43%;
       min-width: 150px;
   h2 {
   font-size: 1rem;
   font-weight: 500;
   }
   }
   .actualizacion_texto {
        left: 50%;  
       top: 60%;
       min-width: 150px;
   p {
   font-size: 0.5rem;
   }
   }
   .actualizacion_turno {   
       top: 90%; 
       left: 50%;
   button {
   a {
       font-size: 0.8rem;
   }
   }
   }
   .mantenimiento_gif {
       left: 10000px;
     
       iframe {
           width: 60%;
       }
   }
   .armado_gif {
       left: 10000px;
     
       iframe {
           width: 40%;
       }
   }
   .actualizacion_gif {
       left: 10000px;
     
       iframe {
           width: 60%;
       }
   }
   /*Pagina de Kumara*/
   #tienda {
    margin-top: 15%;
    h1 {
        font-size: 1.2rem;
        padding: 10px;
       
    }
    p {
       font-size: 1rem;
      padding: 10px;
    }
    div {
        font-size: 0.7rem;
    }
    .bonton_carrito {
        width: 8em;

    }
}


.descripcionproducto {
    left: 20%;
  
}
.descripcionproductoizquierda {
    left: 75%;
  
}
 
}

@media screen and (max-width: 320px) {


    .contactofooter {
        margin-right: 10px;
        padding: 10px;
    }
    .descripcioningreso {
        margin-top: 30px;
        max-width: 30%;
        font-size: 0.5rem;
    }
 
    .nuevosingresos__video {
        height: 25vh;
    }
  
    




}


