#grillaproductos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:0.01fr repeat(3, 1fr) 0.2fr;
    grid-template-areas:
    "header"
    "mainproductos"
    "mainproductos"
    "mainproductos"
    "footer" ;
}

.mainproductos {
    grid-area: mainproductos;
    background-color: $youtube;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 0.5fr);
    grid-template-areas:
    "teclados"
    "auriculares"
    "fuentes"
    "mouses"
    
    ;
}
.teclados {
    grid-area: teclados;
    background-color: $color-de-fondo;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.3fr 0.5fr;
    grid-template-areas:
    "teclados-titulo "
    "teclados-tarjetas ";
}


.teclados-titulo {
    grid-area: teclados-titulo;
    color: $violeta;
    display: flex;
    justify-content: center;
    align-content: center;
}

.teclados-tarjetas {
    grid-area: teclados-tarjetas;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



.auriculares {
    grid-area: auriculares;
    background-color: $color-de-fondo;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.3fr 0.5fr;
    grid-template-areas:
    "auriculares-titulo "
    "auriculares-tarjetas ";
}

.auriculares-titulo {
    grid-area: auriculares-titulo;
    color: $violeta;
    display: flex;
    justify-content: center;
    align-content: center;
}

.auriculares-tarjetas {
    grid-area: auriculares-tarjetas;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.fuentes {
    grid-area: fuentes;
    background-color: $color-de-fondo;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.3fr 0.5fr;
    grid-template-areas:
    "fuentes-titulo "
    "fuentes-tarjetas ";
}

.fuentes-titulo {
    grid-area: fuentes-titulo;
    color: $violeta;
    display: flex;
    justify-content: center;
    align-content: center;
}

.fuentes-tarjetas {
    grid-area: fuentes-tarjetas;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mouses {
    grid-area: mouses;
    background-color: $color-de-fondo;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.3fr 0.5fr;
    grid-template-areas:
    "mouses-titulo"
    "mouses-tarjetas";
}

.mouses-titulo {
    grid-area: mouses-titulo;
    color: $violeta;
    display: flex;
    justify-content: center;
    align-content: center;
}

.mouses-tarjetas {
    grid-area: mouses-tarjetas;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.flip-card {
	background-color: transparent;
	width: 300px;
	height: 300px;
	perspective: 1000px;
	&:hover {
		.flip-card-inner {
			transform: rotateY(180deg);
		}
	}
}
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}
.flip-card-front {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 16px;
	background-image: linear-gradient(45deg, #6f04d9, #d9048e);
	img {
		width: 300px;
		margin-top: 5rem;
	}
}
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 16px;
	background-image: linear-gradient(315deg, #6f04d9, #8a045c);
	color: $blanco;
	transform: rotateY(180deg);
	img {
		width: 200px;
		margin-top: 1rem;
	}
	h3 {
		margin-bottom: 0.3rem;
		margin: 0;
		color: $blanco;
	}
	a {
		text-decoration: none;
		list-style: none;
	}
	h2 {
		margin: 0;
		color: $blanco;
	}
}