#grillaquienes {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:0.1 0.3fr 0.2fr ;
    grid-template-areas: 
    "header"
    "mainquienes"
    "footer"
    ;
}

.mainquienes {
    grid-area: mainquienes;
    background-color: $color-de-fondo;
    color: $blanco;
    display: grid;
    grid-template-rows: 1fr !important;
    text-align: center;
}