#grillaservicios {
    width: 99vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 1fr 0.2fr;
    grid-template-areas:
    "header"
    "mainservicios"
    "footer"

    ;
}


#main_servicios {
    grid-area: mainservicios ;
    background-color: $color-de-fondo;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-areas: 
    "tituloservicios"
    "reparacion_de_pc"
    "iptv"
    ;
}

#tituloservicios {
    grid-area: tituloservicios;
    color: $violeta;
    display: flex;
    justify-content: center;
    align-content: center;
}

#reparacion_de_pc {
    grid-area: reparacion_de_pc;
    color: $morado;
    text-align: center;
  
}


#iptv {
    grid-area: iptv;
    color: $morado;
    text-align: center;
}