#grilladonde {
    height:100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:0.01fr 1fr 0.1fr;
    grid-template-areas:
    "header"
    "maindonde"
    "footer" ;
}

.maindonde {
    grid-area: maindonde;
    display: grid;
    grid-template-rows: 1fr;
    background-color: #0e0b16;
    color: $violeta;
    text-align: center;
}


