#grilla_producto {
    display: grid;
    width: 100vw;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "header" 
    "main_producto"
    "footer"
    ;
}

#main_producto {
    grid-area: main_producto;
    background-color: $color-de-fondo;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "imagen_producto tienda"
    "descripcion1 descripcion1"
    "descripcion3 descripcion3"
    "descripcion2 descripcion2"
    ;
}

#imagen_producto {
    grid-area: imagen_producto ;
        img {
            width: 100%;
        }
}
#tienda {
    grid-area: tienda;
    display: block;
    min-width: 100%;
    margin-top: 15%;
        h1 {
            color: $violeta;
            text-align: center ;
            padding: 70px;
            font-size: 8rem;
        }
        p {
            color: $blanco;
            text-align: center;
            padding: 30px;
           font-size: 6rem;
        }
        div {
            text-align: center;
            font-size: 5rem;
        }
        .bonton_carrito {
            color: $blanco; 
            @extend .botondebusqueda;
            width: 8em;

        }
    }


.descripcionproducto {
    @extend .armado_texto;
    top: 50%;
    max-width: 30%;
    p {
        background-color: transparent;
        font-size: 2.5rem;
    }
}
.descripcionproductoizquierda {
    @extend .mantenimiento_texto; 
    max-width: 30%;
    left: 75%;
    top: 50%;
    p {
        background-color: transparent;
        font-size: 2.5rem;
    }   
}
       
#descripcion1 {
    @extend .armado_de_pc;
    grid-area: descripcion1;
    
}

#descripcion2 {
    @extend .armado_de_pc;
    grid-area: descripcion2;
}

#descripcion3 {
    @extend .armado_de_pc;
    grid-area: descripcion3;
}
